@font-face{
	font-family: EFCO Brookshire;
	src: url("../fonts/EFCO Brookshire Regular.ttf");
}

body,html {
	height: 100%;
}

.navbar {
	background-color: #0054B5;
	border-bottom: 3px solid #EEBF2D;
}

body nav a:hover{
	color: #FFF;
}

.live-link{
	color: #EEBF2D;
	margin: 0px 45px -10px 15px;
	font-size: 23px;
	font-family: "Poppins", sans-serif;
}

body nav a, .nav-link{
	color: #FFF;
	font-family: "Poppins", sans-serif;
}

body nav a img{
	padding: 0px 0px 0px 0px;
}

.navbar-brand{
	font-size: 37px;
}

.nav-link{
	margin: 0px 15px 0px 15px;
	font-size: 22px;
}

.sitename{
	font-size: 50px;
}

.nav-link:hover{
	color: #EEBF2D;
}

.bannerText {
	font-family: "EFCO Brookshire",sans-serif;
	color: #EEBF2D;
	text-shadow: 1px 1px 2px #0054B5;
}

#home-display-text1{
	font-size: 70px;
	margin-top: 60px;
}

#home-display-text2{
	margin-bottom: 40px;
	font-size: 70px;
}

#start-reading-button{
	padding: 10px 30px 10px 30px;
	font-family: "Poppins",sans-serif;
	font-weight: 900;
}

#footer{
	background-color: #0054B5;
	border-top: 3px solid #EEBF2D;
	bottom: 0;
	width: 100%;
	height: 4rem;
	text-align: center;
}

#footer-text{
	margin-top: 15px;
	color: #FFF;
}

#poster1, #poster2, #poster3 {
	background-position: center;
	background-repeat: no-repeat;
	background-size: contain;
	position: relative;
	min-height: 450px;
	min-width: 300px;
	max-width: 320px;
	margin-top: 2.5rem;
	margin-bottom: 1rem;
}


#poster1{
	background-image: url("../img/POSTER-1.png");
}

#poster2{
	padding-left: 1.5rem;
	padding-right: 1.5rem;
	background-image: url("../img/POSTER-2.png");
}

#poster3{
	background-image: url("../img/POSTER-3.png");
}

#poster1:hover {
	background-image: url("../img/HOVER-1.png");
}

#poster2:hover {
	background-image: url("../img/HOVER-2.png");
}

#poster3:hover {
	background-image: url("../img/HOVER-3.png");
}

#bookTitle {
	text-align: center;
	margin-top: 5rem;
	margin-bottom: 2.5rem;
	font-size: 55px;
	color: #EEBF2D;
	text-shadow: -1px 1px #000,
		1px 1px #000,
		1px -1px #000,
		-1px -1px #000;
}

#direction{
	text-align: justify;
	text-justify: auto;
	margin-left: 2.5rem;
	margin-right: 2.5rem;
	margin-bottom: 3.5rem;
	font-size: 17px;
}

#examineeDetails{
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 2rem;
}

#fname{
	margin-right: 10rem;
	width: 25rem;
}

#gradeAndSection{
	width: 25rem;
}

#startQuizButton:hover{
	transform: scale(1.1,1.1);
	-webkit-transform: scale(1.1,1.1);
	-moz-transform: scale(1.1,1.1);
}

#page2BookTitle{
	text-align: center;
	margin-top: 5rem;
	margin-bottom: 2.5rem;
	font-size: 35px;
	color: #EEBF2D;
	text-shadow: -1px 1px #000,
		1px 1px #000,
		1px -1px #000,
		-1px -1px #000;
}
}